.cards-projetos{


    max-width:1300px;

    margin:100px auto;

    padding:0 40px;


    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;


}


.text__top{
    grid-column: 1 / -1;
    max-width: 620px;
    margin-bottom: -15px; // ou 0
}
.text__top span{

    display:flex;
    align-items:center;
    gap:18px;

    color:#D48821;

    

    font-size:.95rem;

    font-weight:500;

    letter-spacing:2px;

    text-transform:uppercase;

    margin-bottom:28px;

}

.text__top span::after{

    content:"";

    width:52px;
    height:2px;

    background:#D48821;

}

.text__top h2{

    
 font-family: "Montserrat", sans-serif;
    font-size:2rem;

    font-weight:400;

    color:#2c2c2c;

    margin-bottom:26px;

}







.card-projeto{


    position:relative;

    height: 500px;

    overflow:hidden;

    border-radius:10px;

    cursor:pointer;

    background:#111;


    box-shadow:
    0 20px 50px rgba(0,0,0,.18);


    transition:
    transform .6s cubic-bezier(.19,1,.22,1),
    box-shadow .6s ease;



    &:hover{


        transform:translateY(-15px);


        box-shadow:
        0 40px 90px rgba(0,0,0,.35);


    }


}






.card-projeto__image{


    position:absolute;

    inset:0;



    img{


        width:100%;

        height:100%;

        object-fit:cover;


        transition:
        transform 1.3s cubic-bezier(.19,1,.22,1);


    }


}





.card-projeto:hover 
.card-projeto__image img{


    transform:scale(1.12);


}







.card-projeto__overlay{


    position:absolute;

    inset:0;


    display:flex;

    align-items:flex-end;

    justify-content:center;


    padding:35px 35px 25px;


    background:


    linear-gradient(

        180deg,

        transparent 40%,

        rgba(0,0,0,.85)

    );


}






.card-projeto__content{


    position:relative;

    width:100%;

    height:120px;

    color:white;

    text-align:center;


}





.card-projeto__content h2{


    position:absolute;


    bottom:0;

    left:0;

    width:100%;


    margin:0;


    font-size:28px;


    font-weight:500;


    line-height:1.2;


    color:white;


    letter-spacing:.5px;


    transition:
    .7s cubic-bezier(.19,1,.22,1);


}






.card-projeto__extra{


    position:absolute;

    bottom:-10px;

    left:0;

    width:100%;


    text-align:center;


    opacity:0;


    transform:translateY(50px);


    transition:
    .7s cubic-bezier(.19,1,.22,1);



    strong{


        display:block;


        font-size:21px;


        font-weight:500;


        margin-bottom:12px;


        color:#d38a17;


    }




    p{


        max-width:350px;


        margin:0 auto;


        font-size:15px;


        line-height:1.7;


        color:rgba(255,255,255,.9);


    }


}





.card-projeto:hover 
.card-projeto__content h2{


    transform:translateY(-150px);


}





.card-projeto:hover 
.card-projeto__extra{


    opacity:1;


    transform:translateY(0);


}







@media(max-width:1100px){


    .cards-projetos{


        grid-template-columns:repeat(2,1fr);

    }


}






@media(max-width:700px){


    .cards-projetos{


        grid-template-columns:1fr;


        padding:0 20px;


        margin:60px auto;


    }



    .card-projeto{


        height:500px;


    }



}
