.hero-sobre {
    position: relative;
    width: 100%;
    min-height: 100svh;
    overflow: hidden;
    background: rgb(250, 249, 248);
}
/* ========================= */
/* BACKGROUND */
/* ========================= */

.hero-sobre__bg{

    position:absolute;
    inset:0;

    background-image:url("../../../imgs/circulo.png");
    background-repeat:no-repeat;
    background-size:cover;
   
    background-position:center top;

    z-index:0;

    

}

.hero-sobre__bg::after{

    content:"";

    position:absolute;
    inset:0;

    background:linear-gradient(
        180deg,
        rgba(0,0,0,.15) 0%,
        rgba(0,0,0,.55) 100%
    );

    -webkit-mask-image:url("../../../imgs/circulo.png");
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-position:center top;
    -webkit-mask-size:cover;

    mask-image:url("../../../imgs/circulo.png");
    mask-repeat:no-repeat;
    mask-position:center top;
    mask-size:cover;

    pointer-events:none;

}
/* ========================= */
/* OVERLAY */
/* ========================= */

.hero-sobre__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0);
    z-index: 1;
}

/* ========================= */
/* CONTENT */
/* ========================= */
.hero__content{
    position:relative;
    z-index:2;

    width:min(1200px,100%);
    height:clamp(550px, 52vw, 100svh);

    margin:0 auto;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:#fff;

    padding-inline:24px;
}

.hero__content h1{
    max-width:950px;
    font-size:clamp(2.3rem,4.8vw,6rem);
    line-height:.95;
    font-weight:400;
    margin:0;
}

.hero__content p{
    margin-top:28px;
    max-width:760px;
    font-size:clamp(1rem,1.2vw,1.3rem);
    line-height:1.7;
}

/* ========================= */
/* NOTEBOOK */
/* ========================= */
@media (max-width:1200px){

    .hero-sobre__bg{

        background-size:cover;
        background-position:center top;

    }

    .hero-sobre__bg::after{

        -webkit-mask-size:cover;
        -webkit-mask-position:center top;

        mask-size:cover;
        mask-position:center top;

    }

    .hero__content{

        padding-top:90px;
        padding-inline:40px;

    }

}
/* ========================= */
/* TABLET */
/* ========================= */
.hero-sobre__bg{

    background-size:cover;
    background-position:55% center;

}

.hero-sobre__bg::after{

    -webkit-mask-size:cover;
    -webkit-mask-position:55% center;

    mask-size:cover;
    mask-position:55% center;

}
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (min-height: 1024px) {

    .hero__content{
        padding-bottom: 190px;
    }

}


/* ========================= */
/* NOTEBOOKS BAIXOS */
/* ========================= */

@media (max-height:820px){

    .hero__content{
        justify-content:flex-start;
        padding-top:100px;
        padding-bottom:40px;
    }

    .hero__content h1{
        max-width:850px;
        font-size:clamp(3rem,5vw,5rem);
        line-height:.95;
    }

    .hero__content p{
        margin-top:18px;
        max-width:680px;
        font-size:1rem;
    }

}

/* ========================= */
/* MOBILE */
/* ========================= */
.hero-sobre__bg{

    background-size:cover;
    background-position:58% center;

}

.hero-sobre__bg::after{

    -webkit-mask-size:cover;
    -webkit-mask-position:58% center;

    mask-size:cover;
    mask-position:58% center;

}

/* ========================= */
/* MOBILE PEQUENO */
/* ========================= */

@media (max-width:480px){

 .hero-sobre__bg{

    background-size:cover;
    background-position:60% center;

}

.hero-sobre__bg::after{

    -webkit-mask-size:cover;
    -webkit-mask-position:60% center;

    mask-size:cover;
    mask-position:60% center;

}
}