.admin{

display:flex;

height:100vh;

background:#f7f5f2;

}

.admin__sidebar{

width:270px;

background:#4b2108;

color:white;

display:flex;

flex-direction:column;

justify-content:space-between;

padding:35px 25px;

}

.admin__logo h2{

margin:0;

font-size:34px;

font-weight:500;

}

.admin__logo span{

display:block;

margin-top:6px;

opacity:.75;

font-size:13px;

}

.admin__sidebar nav{

display:flex;

flex-direction:column;

gap:14px;

margin-top:50px;

}

.admin__sidebar nav a{

color:white;

text-decoration:none;

padding:14px 18px;

border-radius:8px;

transition:.25s;

font-size:15px;

}

.admin__sidebar nav a:hover{

background:#6a3518;

}

.admin__sidebar nav a.active{

background:#d38a17;

color:white;

}

.logout{

margin-top:auto;

height:48px;

border:none;

background:#d38a17;

color:white;

border-radius:8px;

cursor:pointer;

font-size:15px;

transition:.3s;

}

.logout:hover{

background:#b8740f;

}

.admin__content{

flex:1;

padding:50px;

overflow:auto;

}

.admin__content h1{

font-size:38px;

color:#4b2108;

margin-bottom:25px;

}

.admin__content button{

background:#4b2108;

color:white;

border:none;

padding:14px 28px;

border-radius:8px;

cursor:pointer;

transition:.3s;

}

.admin__content button:hover{

background:#6c3311;

}