// ======================
// Fontes
// ======================

$font-title: "Playfair Display", serif;
$font-text: "Montserrat", sans-serif;

// ======================
// Cores
// ======================

$primary: #D48821;
$secondary: #1A1A1A;

$white: #ffffff;
$black: #111111;